<div class="panel panel-info">
    <div class="panel-heading">
        COAST: Children's Oxygenation Administration Strategies Trial Summary
    </div>
    <div class="panel-body">
        COAST is a randomised controlled trial designed to provide the evidence for the most clinically-effective and cost-efficient targeted use of oxygen as a life-saving treatment with respect to the optimal oxygen saturation threshold for treatment and mode of delivery in 4200 African children, aged 28 days to 12 years, presenting to hospital with respiratory distress complicated by hypoxia (SaO2< 92%). 
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Need for a trial
    </div>
    <div class="panel-body">
        Whilst oxygen, as a potentially life-saving treatment, is advocated by the WHO, it has not been afforded a high enough priority at either country or global levels. Use of pulse oximeters are limited and sustainable supply of oxygen (either bottled or oxygen concentrators) is both expensive and logistically challenging. As a consequence, poorly targeted use results in few children, who may benefit from oxygen therapy, actually receive it. Systematic and policy reviews indicate the need for a formal evaluation of the hypoxia threshold at which oxygen should be targeted and of how oxygen is best administered.  COAST was therefore designed on behalf of the International Severe Acute Respiratory Infection Consortium (ISARIC) to address these key research gaps to provide a better evidence base for future guidelines, with a view to improving the poor outcomes. 
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Funders
    </div>
    <div class="panel-body">
        COAST recently received funded (£2.7Million) by Joint Global Health Trial Scheme (Wellcome Trust MRC Dfid). Imperial College is the trial sponsor (formalised through a Heads of Terms).
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Trial Partners
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><b>Imperial College, London:</b> Professor Kathryn Maitland is the Principal Investigator of COAST, and Professor Andy Bush (co-Investigator) will be responsible for overall trial coordination and for scientific oversight of substudies. Kath Maitland is based fulltime in East Africa.</li>
            <li class="list-group-item"><b>Africa:</b> Prof S Kiguli, Dr Olupot Olupot, Dr Engoru, the 3 site PIs in Uganda, and Dr Pat Njuguna Site PI KEMRI-Wellcome Trust Programme, Kilifi.</li>
            <li class="list-group-item"><b>ICNARC, UK</b> (Prof Kathy Rowan and David Harrison) are responsible for trial management and statistical support.</li>
            <li class="list-group-item"><b>John Fraser (Critical Care Group; Brisbane)</b> and Fisher & Paykel, (industry leaders in high flow oxygen delivery), have agreed to donate the AIRVO devices for the trial. ISARIC, supported by Wellcome Trust, MRC and other funders, is a recently founded consortium of global researchers, including 70 established networks, to address key research gaps and identify the most efficient treatments; its first strategic aim is to make a difference in severe acute respiratory infection (<a href="http://isaric.tghn.org">http://isaric.tghn.org</a>).</li>
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Trial Summary
    </div>
    <div class="panel-body">
        Children will be enrolled at admission to hospital over 2 years from 5 sites in 2 countries (Uganda and Kenya) and followed for 28 days.  The trial has a pragmatic design, to ensure this encompasses a spectrum of high-risk children, identified largely by clinical criteria, so that the results are applicable to health services in Africa, with limited access to health technologies. 
    </div>
    <table class="table">
        <tr>
            <td>
                Trial Design
            </td>
            <td>
                Open, multi-centre, fractional factorial randomised controlled trial
            </td>
        </tr>
        <tr>
            <td>
                Participants
            </td>
            <td>
                4,200 children aged between 28 days and 12 years with respiratory distress complicated by hypoxia (defined as SaO2 <92%)
            </td>
        </tr>
        <tr>
            <td>
                Trial Hypotheses
            </td>
            <td>
                <ul>
                    <li>To establish whether liberal oxygenation for SaO2 ≥80% will decrease mortality (at 48 hours and up to 28 days) compared with a strategy that includes permissive hypoxia (usual care); and</li>
                    <li>To establish whether use of high flow oxygen delivery will decrease mortality (at 48 hours and up to 28 days) compared with low flow oxygen delivery (usual care)</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Primary Outcome
            </td>
            <td>
                Mortality at 48 hours post-randomisation
            </td>
        </tr>
        <tr>
            <td>
                Secondary Outcomes
            </td>
            <td>
                <ul>
                    <li>Treatment failure at 48 hours</li>
                    <li>Survival to 28 days</li>
                    <li>Neurocognitive sequelae at 28 days</li>
                    <li>Length of initial hospital stay</li>
                    <li>Re-admission to hospital by 28 days</li>
                    <li>Resolution of neurocognitive sequelae at 90 days (for those with neurocognitive sequelae at 28 days)</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Randomisation and Interventions
            </td>
            <td>
                The trial has two strata: Stratum 1: severe hypoxia, SaO2 <80%); and Stratum 2: hypoxia SaO2 ≥80% and <92%).
                Children in Stratum 1 (2-arm, 1:1 ratio) will all receive oxygen and randomisation will allocate participants to one of two methods of oxygen delivery:
                
                <ol>
                    <li>High Flow Oxygen Delivery</li>
                    <li>Low Flow (usual practice) Oxygen Delivery</li>
                </ol>

                Children in Stratum 2 (3-arm, 2:1:1 ratio) will be allocated to:
                <ol>
                    <li>Permissive Hypoxia (no immediate oxygen<): control</li>
                    <li>High Flow Oxygen Delivery</li>
                    <li>Low Flow Oxygen Delivery</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                Duration of Recruitment
            </td>
            <td>
                36 months
            </td>
        </tr>
        <tr>
            <td>
                Definition of End of Trial
            </td>
            <td>
                Last participant, last follow-up
            </td>
        </tr>
        <tr>
            <td>
                Ancillary Studies
            </td>
            <td>
                <ul>
                    <li>Economics and cost-effectiveness evaluation</li>
                    <li>Molecular diagnostics</li>
                    <li>Investigation of respiratory viruses</li>
                    <li>Electrical Impedance Tomography</li>
                    <li>SPRINT-SARI study</li>
                    <li>Sickle cell disease status</li>
                </ul>
            </td>
        </tr>
    </table>
</div>