<!--<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a [routerLink]="['/trailSummary']" class="btn btn-primary btn-large">Trial Summary</a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a [routerLink]="['/trainingFilms']" class="btn btn-primary btn-large">Training Films</a>
        </div>
    </div>-->

<p>
    COAST is a randomised controlled trial designed to provide the evidence for the most clinically-effective and cost-efficient targeted use of oxygen as a life-saving treatment with respect to the optimal oxygen saturation threshold for treatment and mode of delivery in 4200 African children, aged 2 months to 12 years, presenting to hospital with respiratory distress complicated by hypoxia (SaO2< 92%).
</p>