<div class="col-md-2">
    <div class='panel panel-info'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <tbody>
                        <tr *ngFor='let film of films'>
                            <td><a [routerLink]="['/trainingFilmDetail', film.id]">
                                {{film.title}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10">
<img src="app/assets/images/FlowChart.png" class="img-responsive"/>
</div>
